body {
  background-color: #181818;
}
/*头部*/
.header {
  height: 55px;
  background: #f8f7f7 url(../image/top_bg.png) repeat-x 0 bottom;
}
.header .header_top {
  width: 1000px;
  margin: 0 auto;
}
.header .header_top .top_logo {
  width: 86px;
  height: 36px;
  float: left;
  background: url(../image/top_logo.png) no-repeat;
  margin-left: 14px;
  padding-right: 13px;
  border-right: 1px solid #cecece;
  margin-top: 6px;
  text-indent: -9999em;
}
.header .header_top ul {
  float: right;
}
.header .header_top ul li {
  line-height: 46px;
  padding: 0 10px 4px;
  cursor: pointer;
}
.header .header_top ul li a {
  color: #4a4a4a;
}
.header .header_top ul li a span {
  width: 24px;
  height: 24px;
  float: left;
  margin: 11px 6px;
}
.header .header_top ul .top_reg a span {
  background: url(../image/top_login.png) no-repeat;
}
.header .header_top ul .top_charge a span {
  background: url(../image/top_charge.png) no-repeat;
}
.header .header_top ul .top_cy {
  border-right: 1px solid #cecece;
}
.header .header_top ul .top_cy a span {
  background: url(../image/top_cy.png) no-repeat;
}
.header .header_top ul .top_reg:hover span,
.header .header_top ul .top_charge:hover span,
.header .header_top ul .top_cy:hover span {
  transform: rotate(360deg);
  transition: 1s;
}
.header .header_top ul .pull_down {
  border-right: 1px solid #cecece;
  padding-right: 16px;
  position: relative;
  z-index: 3;
}
.header .header_top ul .pull_down p {
  padding-right: 12px;
  padding-left: 18px;
  background: url(../image/top_pull.png) no-repeat right 21px;
}
.header .header_top ul .pull_down div {
  display: none;
  width: 200px;
  height: 100px;
  background-color: #eee;
  position: absolute;
  top: 50px;
  left: 0;
}
.header .header_top ul .pull_down:hover div {
  display: block;
}
.header .header_top ul .pull_down:hover {
  background-color: #eee;
}
/*导航*/
.nav_wrap {
  width: 1000px;
  height: 551px;
  margin: 0 auto;
  background: url(../image/nav_bg.png) no-repeat;
  position: relative;
}
.nav_wrap .logo {
  width: 186px;
  height: 63px;
  background: url(../image/logo.png) no-repeat;
  margin-left: 3px;
  margin-top: 21px;
  text-indent: -9999em;
}
.nav_wrap .logo:hover {
  width: 190px;
  height: 100px;
  background: url(../image/logo.gif) no-repeat;
  margin-top: 0;
  margin-left: 0;
}
.nav_wrap .nav {
  font-size: 16px;
  padding-top: 37px;
  padding-bottom: 35px;
  margin-right: -6px;
}
.nav_wrap .nav li {
  float: left;
  text-align: center;
  padding: 0 10px;
}
.nav_wrap .nav li a {
  color: #bebebe;
  line-height: 16px;
}
.nav_wrap .nav li a small {
  font-size: 8px;
  line-height: 12px;
}
.nav_wrap .nav_gift {
  width: 29px;
  height: 114px;
  border: 1px solid #b64527;
  border-left: none;
  background: radial-gradient(#942509, #ac2c09);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  color: #fff;
  padding-top: 4px;
  position: absolute;
  top: 245px;
  left: 0;
}
/*中间内容部分*/
.content {
  width: 1000px;
  margin: 0 auto;
  background: url(../image/content.jpg) no-repeat;
  /*游戏下载*/
  /*banner下边*/
  /*战士*/
  /*健康游戏公告*/
}
.content .download .dl_left {
  width: 618px;
}
.content .download .dl_left .sub_nav {
  border-right: 1px solid #443b4f;
}
.content .download .dl_left .sub_nav a {
  float: left;
  width: 100px;
  height: 108px;
  background: url(../image/sprite.jpg) no-repeat;
  text-indent: -9999em;
}
.content .download .dl_left .sub_nav .game_dl {
  width: 216px;
}
.content .download .dl_left .sub_nav .game_dl:hover {
  background-position: 0 -110px;
}
.content .download .dl_left .sub_nav .reg {
  width: 102px;
  background-position: -216px 0;
}
.content .download .dl_left .sub_nav .reg:hover {
  background-position: -216px -110px;
}
.content .download .dl_left .sub_nav .charge {
  background-position: -318px 0;
}
.content .download .dl_left .sub_nav .charge:hover {
  background-position: -318px -110px;
}
.content .download .dl_left .sub_nav .exchange {
  background-position: -418px 0;
}
.content .download .dl_left .sub_nav .exchange:hover {
  background-position: -418px -110px;
}
.content .download .dl_left .sub_nav .newbie {
  width: 99px;
  background-position: -518px 0;
}
.content .download .dl_left .sub_nav .newbie:hover {
  background-position: -518px -110px;
}
.content .download .dl_left .banner {
  width: 616px;
  height: 303px;
  border: 1px solid #443b4f;
  position: relative;
}
.content .download .dl_left .banner .page {
  position: absolute;
  right: 12px;
  bottom: 10px;
}
.content .download .dl_left .banner .page li {
  float: left;
  width: 15px;
  height: 15px;
  background-color: #3a3e47;
  border-radius: 50%;
  margin-right: 3px;
  text-indent: -9999em;
  cursor: pointer;
}
.content .download .dl_left .banner .page .active {
  background-color: #d0290a;
}
.content .download .dl_left .banner .banner_img a img {
  display: none;
  width: 616px;
  height: 303px;
}
.content .download .dl_left .banner .banner_img .oblock {
  display: block;
}
.content .download .dl_left .banner span {
  width: 27px;
  height: 63px;
  position: absolute;
  left: 10px;
  text-indent: -9999em;
  cursor: pointer;
}
.content .download .dl_left .banner .official {
  background: url(../image/slider_main.png) no-repeat;
  top: 10px;
}
.content .download .dl_left .banner .official:hover {
  background: url(../image/slider_h_main.png) no-repeat;
}
.content .download .dl_left .banner .medium {
  background: url(../image/slider_media.png) no-repeat;
  top: 83px;
}
.content .download .dl_left .banner .medium:hover {
  background: url(../image/slider_h_media.png) no-repeat;
}
.content .download .dl_right {
  width: 382px;
  /*游戏下载右边选项卡*/
}
.content .download .dl_right .dl_r_top .recommend {
  height: 54px;
  background: url(../image/sever.png) no-repeat 12px 6px;
  font-size: 14px;
  line-height: 23px;
  padding-top: 11px;
  padding-left: 97px;
}
.content .download .dl_right .dl_r_top .recommend a {
  color: #a4afd4;
}
.content .download .dl_right .dl_r_top .recommend a span {
  color: #f00000;
}
.content .download .dl_right .dl_r_top .links {
  height: 43px;
  background: url(../image/sprite.jpg) no-repeat 0 -220px;
  color: #a4afd4;
}
.content .download .dl_right .dl_r_top .links .renew {
  float: left;
  width: 166px;
  margin-left: 4px;
  margin-top: 14px;
}
.content .download .dl_right .dl_r_top .links .renew .num {
  color: #f00000;
  text-decoration: underline;
  padding: 0 3px;
}
.content .download .dl_right .dl_r_top .links .renew .renew_icon {
  width: 14px;
  height: 14px;
  float: right;
  background: url(../image/sprite.jpg) no-repeat -603px -227px;
}
.content .download .dl_right .dl_r_top .links .focus {
  float: left;
  width: 180px;
  margin-left: 31px;
  paing-top: 1px;
}
.content .download .dl_right .dl_r_top .links .focus span {
  float: left;
  margin-top: 14px;
}
.content .download .dl_right .dl_r_top .links .focus a {
  float: left;
  width: 40px;
  height: 40px;
  text-indent: -9999em;
  margin-left: 4px;
  margin-right: 4px;
}
.content .download .dl_right .dl_r_top .links .focus .wechat:hover {
  background: url(../image/sprite.jpg) no-repeat -398px -221px;
}
.content .download .dl_right .dl_r_top .links .focus .sina:hover {
  background: url(../image/sprite.jpg) no-repeat -442px -221px;
}
.content .download .dl_right .dl_r_top .links .focus .tencent:hover {
  background: url(../image/sprite.jpg) no-repeat -486px -221px;
}
.content .download .dl_right .dl_r_bottotm {
  width: 382px;
  height: 305px;
}
.content .download .dl_right .dl_r_bottotm .dl_tab1 {
  background: url(../image/sprite.jpg) no-repeat 0 -263px;
}
.content .download .dl_right .dl_r_bottotm .dl_tab1 li {
  float: left;
  width: 95px;
  font-size: 14px;
  color: #fff;
  line-height: 56px;
  text-align: center;
  cursor: pointer;
}
.content .download .dl_right .dl_r_bottotm .dl_tab1 .active {
  background: url(../image/sprite.jpg) no-repeat -285px -323px;
}
.content .download .dl_right .dl_r_bottotm .dl_tab2 div {
  display: none;
  background-color: #322e3f;
  padding-top: 17px;
  padding-bottom: 17px;
}
.content .download .dl_right .dl_r_bottotm .dl_tab2 div h6 {
  width: 347px;
  background: url(../image/sprite.jpg) no-repeat 0 -378px;
  color: #fe4100;
  font-size: 16px;
  margin-left: 17px;
  line-height: 34px;
  text-align: center;
}
.content .download .dl_right .dl_r_bottotm .dl_tab2 div ul {
  font-size: 13px;
  color: #9ca7ca;
  padding: 3px 18px 0 23px;
}
.content .download .dl_right .dl_r_bottotm .dl_tab2 div ul li {
  overflow: hidden;
  line-height: 27px;
}
.content .download .dl_right .dl_r_bottotm .dl_tab2 div ul li a {
  float: left;
  color: #9ca7ca;
}
.content .download .dl_right .dl_r_bottotm .dl_tab2 div ul li span {
  float: right;
}
.content .download .dl_right .dl_r_bottotm .dl_tab2 div .more a {
  float: right;
  background: url(../image/more.jpg) no-repeat 0 2px;
  color: #9ca7ca;
  padding-left: 20px;
  padding-right: 18px;
}
.content .download .dl_right .dl_r_bottotm .dl_tab2 .oblock {
  display: block;
}
.content .ads {
  margin-top: 32px;
}
.content .ads li {
  float: left;
  border: 1px solid #433b4f;
  margin-right: 8px;
}
.content .ads .last {
  margin-right: 0;
}
.content .role {
  margin-top: 30px;
}
.content .role .role_sec {
  width: 656px;
  border: 1px solid #443b4f;
}
.content .role .role_sec .role_name {
  background: url(../image/role_bg1.png) no-repeat;
}
.content .role .role_sec .role_name li {
  float: left;
  width: 131px;
  height: 59px;
  line-height: 58px;
  text-align: center;
  font-size: 16px;
  color: #f6f6f6;
  cursor: pointer;
}
.content .role .role_sec .role_name .active {
  background: url(../image/soldier_hover.png) no-repeat;
}
.content .role .role_sec .role_detail img {
  display: none;
  width: 656px;
  height: 287px;
}
.content .role .role_sec .role_detail .oblock {
  display: block;
}
.content .role .activity {
  width: 322px;
}
.content .role .activity h6 {
  font-size: 18px;
  color: #f3ca90;
  line-height: 32px;
  padding-bottom: 14px;
}
.content .role .activity h6 span {
  width: 28px;
  height: 31px;
  float: left;
  text-indent: -9999em;
  background: url(../image/sprite.jpg) no-repeat -628px 0;
  margin-right: 14px;
}
.content .role .activity .activity_img {
  width: 319px;
  height: 149px;
  border: 1px solid #433b4f;
  position: relative;
}
.content .role .activity .activity_img .cover {
  width: 100%;
  height: 36px;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  bottom: 0;
  left: 0;
}
.content .role .activity .activity_img p {
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 36px;
  padding-left: 5px;
}
.content .role .activity .activity_img p a {
  color: #fff;
}
.content .role .activity ul {
  padding-top: 10px;
  padding-bottom: 1px;
}
.content .role .activity ul li {
  overflow: hidden;
  width: 291px;
  line-height: 25px;
  background: url(../image/sprite.jpg) no-repeat 0 -530px;
  color: #a6b2d8;
  padding-left: 28px;
  margin-bottom: 3px;
}
.content .role .activity ul li a {
  float: left;
  color: #a6b2d8;
}
.content .role .activity ul li span {
  float: right;
  padding: 0 8px;
}
.content .entrance {
  margin-top: 30px;
  background: url(../image/bg.jpg) repeat;
}
.content .entrance .entr_left {
  width: 215px;
}
.content .entrance .entr_left .quick_entry {
  width: 215px;
  height: 189px;
  background: url(../image/sprite.jpg) no-repeat 0 -555px;
}
.content .entrance .entr_left .quick_entry h6 {
  font-size: 16px;
  color: #dbca90;
  line-height: 44px;
  text-align: center;
}
.content .entrance .entr_left .quick_entry ul {
  padding-top: 15px;
  padding-left: 16px;
  font-size: 14px;
}
.content .entrance .entr_left .quick_entry ul li {
  width: 90px;
  line-height: 28px;
  margin-left: 8px;
}
.content .entrance .entr_left .quick_entry ul li a {
  color: #9587ab;
}
.content .entrance .entr_left .media_co {
  margin-top: 23px;
}
.content .entrance .entr_left .media_co .media_img {
  position: relative;
}
.content .entrance .entr_left .media_co .media_img span {
  width: 9px;
  height: 15px;
  position: absolute;
  top: 115px;
  cursor: pointer;
}
.content .entrance .entr_left .media_co .media_img .prev {
  left: 0;
  background: url(../image/prev.png) no-repeat;
}
.content .entrance .entr_left .media_co .media_img .next {
  right: 0;
  background: url(../image/next.png) no-repeat;
}
.content .entrance .entr_left .media_co .media_btn {
  width: 205px;
  height: 36px;
  background: url(../image/sprite.jpg) no-repeat -451px -273px;
  font-size: 16px;
  color: #b1a1ca;
  line-height: 36px;
  text-align: center;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.content .entrance .entr_left .survey {
  display: block;
  width: 215px;
  height: 268px;
  background: url(../image/examen.jpg) no-repeat;
  margin-top: 20px;
}
.content .entrance .entr_left .survey:hover {
  background-position: -215px 0;
}
.content .entrance .entr_mid {
  width: 424px;
  margin-left: 19px;
}
.content .entrance .entr_mid .player h5 {
  font-size: 20px;
  color: #f3ca90;
  line-height: 32px;
  padding-bottom: 10px;
}
.content .entrance .entr_mid .player h5 i {
  float: left;
  width: 50px;
  height: 28px;
  background: url(../image/sprite.jpg) no-repeat -603px -352px;
  margin-top: 3px;
}
.content .entrance .entr_mid .player .player_top {
  height: 47px;
  border-left: 1px solid #443b4f;
  border-bottom: 1px solid #443b4f;
  font-size: 14px;
  line-height: 46px;
}
.content .entrance .entr_mid .player .player_top ul li {
  float: left;
  width: 104px;
  text-align: center;
  border-top: 1px solid #443b4f;
  border-right: 1px solid #443b4f;
}
.content .entrance .entr_mid .player .player_top ul li a {
  color: #a295b7;
}
.content .entrance .entr_mid .player .player_top ul .active {
  background-color: #322b3c;
  border-bottom: 1px solid #322b3c;
}
.content .entrance .entr_mid .player .player_top ul .active a {
  color: #fefeff;
}
.content .entrance .entr_mid .player .player_top .more {
  background: url(../image/more.jpg) no-repeat left;
  color: #a295b7;
  padding-left: 16px;
  margin-left: 20px;
}
.content .entrance .entr_mid .player .player_bottom {
  border: 1px solid #443b4f;
  border-top: none;
}
.content .entrance .entr_mid .player .player_bottom div {
  display: none;
  width: 407px;
  padding: 21px 0 28px 15px;
  background-color: #322b3c;
  overflow: hidden;
}
.content .entrance .entr_mid .player .player_bottom div img {
  float: left;
  border: 1px solid #443b4f;
}
.content .entrance .entr_mid .player .player_bottom div ul {
  float: left;
  margin-left: 18px;
}
.content .entrance .entr_mid .player .player_bottom div ul li {
  font-size: 14px;
  line-height: 26px;
}
.content .entrance .entr_mid .player .player_bottom div ul li a {
  color: #a295b7;
}
.content .entrance .entr_mid .player .player_bottom .oblock {
  display: block;
}
.content .entrance .entr_mid .media h5 {
  font-size: 20px;
  line-height: 62px;
  color: #f3ca90;
  padding-top: 22px;
}
.content .entrance .entr_mid .media h5 i {
  float: left;
  width: 43px;
  height: 29px;
  background: url(../image/sprite.jpg) no-repeat -613px -381px;
  margin-top: 15px;
}
.content .entrance .entr_mid .media .media_top {
  height: 47px;
  border-left: 1px solid #443b4f;
  border-bottom: 1px solid #443b4f;
  font-size: 14px;
  line-height: 46px;
}
.content .entrance .entr_mid .media .media_top ul li {
  float: left;
  width: 104px;
  text-align: center;
  border-top: 1px solid #443b4f;
  border-right: 1px solid #443b4f;
}
.content .entrance .entr_mid .media .media_top ul li a {
  color: #a295b7;
}
.content .entrance .entr_mid .media .media_top ul .active {
  background-color: #322b3c;
  border-bottom: 1px solid #322b3c;
}
.content .entrance .entr_mid .media .media_top ul .active a {
  color: #fefeff;
}
.content .entrance .entr_mid .media .media_top .more {
  background: url(../image/more.jpg) no-repeat left;
  color: #a295b7;
  padding-left: 16px;
  margin-left: 20px;
}
.content .entrance .entr_mid .media .media_bottom {
  border: 1px solid #443b4f;
  border-top: none;
}
.content .entrance .entr_mid .media .media_bottom div {
  display: none;
  width: 407px;
  padding: 21px 0 28px 15px;
  background-color: #322b3c;
  overflow: hidden;
}
.content .entrance .entr_mid .media .media_bottom div img {
  float: left;
  border: 1px solid #443b4f;
}
.content .entrance .entr_mid .media .media_bottom div ul {
  float: left;
  margin-left: 18px;
}
.content .entrance .entr_mid .media .media_bottom div ul li {
  font-size: 14px;
  line-height: 26px;
}
.content .entrance .entr_mid .media .media_bottom div ul li a {
  color: #a295b7;
}
.content .entrance .entr_mid .media .media_bottom .oblock {
  display: block;
}
.content .entrance .entr_right {
  width: 322px;
  /*游戏资料*/
  /*视觉欣赏*/
}
.content .entrance .entr_right .data h5 {
  font-size: 20px;
  color: #f3ca90;
  line-height: 32px;
  padding-bottom: 10px;
}
.content .entrance .entr_right .data h5 i {
  float: left;
  width: 28px;
  height: 31px;
  background: url(../image/sprite.jpg) no-repeat -628px -39px;
  margin-right: 15px;
}
.content .entrance .entr_right .data .data_btom {
  border: 1px solid #443b4f;
  padding: 0 17px 18px;
}
.content .entrance .entr_right .data .data_btom ul {
  padding-bottom: 5px;
}
.content .entrance .entr_right .data .data_btom ul li {
  overflow: hidden;
  line-height: 58px;
  border-bottom: 1px dashed #443b4f;
  font-size: 14px;
}
.content .entrance .entr_right .data .data_btom ul li span {
  float: left;
  background: url(../image/data_bg1.png) no-repeat;
  color: #fff;
  line-height: 26px;
  padding-left: 5px;
  padding-right: 15px;
  margin-top: 16px;
  margin-right: 17px;
}
.content .entrance .entr_right .data .data_btom ul li .bg2 {
  background: url(../image/data_bg2.png) no-repeat;
  margin-right: 5px;
}
.content .entrance .entr_right .data .data_btom ul li p {
  float: left;
  color: #9587ab;
}
.content .entrance .entr_right .data .data_btom ul li p a {
  color: #9587ab;
}
.content .entrance .entr_right .data .data_btom ul .last {
  border-bottom: none;
}
.content .entrance .entr_right .data .data_btom .data_sta {
  width: 279px;
  height: 39px;
  border: 3px solid #443b4f;
  line-height: 39px;
  text-align: center;
  font-size: 22px;
}
.content .entrance .entr_right .data .data_btom .data_sta a {
  color: #b1a1ca;
}
.content .entrance .entr_right .vision h5 {
  font-size: 20px;
  line-height: 62px;
  color: #f3ca90;
  padding-top: 22px;
}
.content .entrance .entr_right .vision h5 i {
  float: left;
  width: 43px;
  height: 29px;
  background: url(../image/sprite.jpg) no-repeat -623px -78px;
  margin-top: 15px;
}
.content .entrance .entr_right .vision .vision_top {
  height: 47px;
  font-size: 14px;
  line-height: 46px;
  border-left: 1px solid #443b4f;
  border-bottom: 1px solid #443b4f;
}
.content .entrance .entr_right .vision .vision_top ul li {
  float: left;
  width: 104px;
  text-align: center;
  border-top: 1px solid #443b4f;
  border-right: 1px solid #443b4f;
}
.content .entrance .entr_right .vision .vision_top ul li a {
  color: #a295b7;
}
.content .entrance .entr_right .vision .vision_top ul .active {
  background-color: #322b3c;
  border-bottom: 1px solid #322b3c;
}
.content .entrance .entr_right .vision .vision_top ul .active a {
  color: #fefeff;
}
.content .entrance .entr_right .vision .vision_top .more {
  background: url(../image/more.jpg) no-repeat left;
  color: #a295b7;
  padding-left: 15px;
  margin-left: 20px;
}
.content .entrance .entr_right .vision .vision_bottom {
  border: 1px solid #443b4f;
  border-top: none;
}
.content .entrance .entr_right .vision .vision_bottom ul {
  display: none;
  overflow: hidden;
  padding: 22px 12px 6px;
  background-color: #322b3c;
}
.content .entrance .entr_right .vision .vision_bottom ul li {
  width: 137px;
  margin-bottom: 24px;
}
.content .entrance .entr_right .vision .vision_bottom .oblock {
  display: block;
}
.content .notice {
  background: url(../image/bg.jpg) repeat;
  font-size: 16px;
  color: #908c9b;
  text-align: center;
}
.content .notice .notice_top {
  height: 20px;
  background: url(../image/notice_bg.png) no-repeat center;
  line-height: 20px;
}
.content .notice .notice_text {
  line-height: 30px;
  padding-top: 12px;
  padding-bottom: 30px;
}
.footer {
  background: url(../image/footer_bg.png) repeat-x;
}
.footer .foot_con {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 27px;
}
.footer .foot_con .foot_logo {
  margin-top: 30px;
  margin-left: 76px;
}
.footer .foot_con .foot_img {
  margin-top: 36px;
  margin-left: 19px;
}
.footer .foot_con .text {
  margin-left: 17px;
  margin-top: 37px;
  color: #535353;
  line-height: 23px;
}
.footer .foot_con .text a {
  color: #535353;
}
